{{block.super}}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <h2><a class="navbar-brand" href="{% url 'main' %}">My Photo Gallery</a></h2>
            <h5><a href="/admin" class="nav-item">👥&nbsp;ADMIN DASHBOARD</a></h5>
        </div>
        <div class="col-sm-4 col-md-4 navbar-right">

            <form class="navbar-form" role="search" action="{% url 'search_results' %}">

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search by category i.e travel,food,animals,football..." name="galore">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">Search</button>
                    </div>
                </div>

            </form>
        </div>

    </div>
</nav>